
.container {
    display: flex;
    flex: 1;
    margin: 0;
    width: 100vw;
    background-image: linear-gradient(
      to left,
      rgba(143, 127, 201, 0.384),
      rgba(155, 177, 211, 0.5)
    ),
    $images1;
    background-size: cover;
  }
  

  .image-area {
    height: 100vh;
    width: 50%;
    position: relative;
  }
  .image-area_background {
    top: 0;
    height: 100%;
    width: 100%;
    background-image: $image;
    background-size: cover;
    background-position: left;
    // clip-path: circle(66.2% at 100% 61%);
    border-top-left-radius: 1000%;
    border-bottom-left-radius: 1000%;
    // z-index: 10;
    position: absolute;
  }

  .text-area {
    width: 50%;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
  
    &_content {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
  
  
button {
  margin: 10px;
  min-width: 100px;
  min-height: 30px;
  font-size: 1rem;
  border-radius: 20px;
  background-color: rgb(80 142 229);
  color: white;
  border: none;
  cursor: pointer;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  &:hover {
    color: black;
    background-color: rgb(58, 74, 168);
  }
}