
@media (min-width: $landscape-tab) and (max-width: $portrait-tab) {
  .nav-main {
      padding: 10px 20px;
      font-size: 18px;
  }

  .container .text-area {
      padding: 60px;
  }
}

@media (min-width: $portrait-tab) and (max-width: $desktop) {
  .nav-main {
      padding: 10px 25px;
      font-size: 19px;
  }

  .container .text-area {
      padding: 70px;
  }
}

@media (min-width: $desktop) and (max-width: $big-desktop) {
  .nav-main {
      padding: 10px 30px;
      font-size: 20px;
  }

  .container .text-area {
      padding: 80px;
  }
}

@media (min-width: $big-desktop) {
  .nav-main {
      padding: 15px 40px;
      font-size: 22px;
  }

  .container .text-area {
      padding: 100px;
  }
}
