.footer {
    background-color: $color-grey-dark-3;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    height:auto;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
        // mix-blend-mode: multiply;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .footer {
        padding: 8rem 0;
    }

    .footer__logo-box {
        margin-bottom: 6rem;
    }

    .footer__navigation {
        padding-top: 1.5rem;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 6rem 0;
    }

    .footer__logo-box {
        margin-bottom: 4rem;
    }

    .footer__navigation {
        padding-top: 1rem;
    }

    .footer__link {
        &:hover,
        &:active {
            transform: rotate(3deg) scale(1.2);
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 5rem 0;
        text-align: center;
    }

    .footer__logo {
        width: 12rem;
    }

    .footer__navigation {
        display: block;
        margin: 0 auto;
    }

    .footer__list {
        text-align: center;
    }

    .footer__item {
        display: block;
        margin-bottom: 1rem;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .footer__copyright {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 4rem 0;
        font-size: 1.2rem;
    }

    .footer__logo {
        width: 10rem;
    }

    .footer__navigation {
        padding-top: 0.5rem;
    }

    .footer__link {
        &:hover,
        &:active {
            transform: rotate(2deg) scale(1.1);
        }
    }
}
