.footer {
  background-color: $color-grey-dark-3;
  // padding: 1rem;
  font-size: 1rem;
  color: $color-grey-light-1;

  &-logo-box {
    text-align: center;
    // margin-bottom: 1rem;
  }

  &-logo {
    width: 8rem;
  }

  &-navigation {
    border-top: 1px solid $color-grey-dark;
    padding: 2rem 0;
    display: inline-block;
    width: 100%;
  }

  &-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &-link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;
  }
}

@media (max-width: 1200px) {
  .footer-logo-box {
    margin-bottom: 1rem;
  }

  .footer-navigation {
    padding-top: 1.5rem;
  }
}

@media (max-width: 992px) {
  // .footer {

  // }

  .footer-logo-box {
    margin-bottom: 4rem;
  }

  .footer-navigation {
    padding-top: 1rem;
  }

  .footer-link {
    &:hover,
    &:active {
      transform: rotate(3deg) scale(1.2);
    }
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-logo {
    width: 12rem;
  }

  .footer-navigation {
    display: block;
    margin: 0 auto;
  }

  .footer-list {
    text-align: center;
  }

  .footer-item {
    display: block;
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .footer-copyright {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 1.2rem;
  }

  .footer-logo {
    width: 10rem;
  }

  .footer-navigation {
    padding-top: 0.5rem;
    flex-direction: column;
  }

  .footer-list {
    text-align: center;
    flex-direction: column;
  }

  .footer-logo-box {
    margin-bottom: 0;
  }

  .footer-link {
    &:hover,
    &:active {
      transform: rotate(2deg) scale(1.1);
    }
  }
}
